<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script>

    class MyComponent{
    	constructor(config) {
    		this.state = {
    			i: 1
            }
        }

        get prop1() {

        }

        set prop1() {

        }

        setAttribute(attr) {

        }

        getAttribute(attr, value) {

        }

        get children() {}
        set children(){}
    }

    // myCompont = <MyComponent attr='33' />
    let myComponent = new MyComponent();
    myComponent.attr = '33'
</script>

</body>
</html>